@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
header{
    background-color: black;
    margin: -8px -8px 0px -8px;
    padding: 10px;
    height: 205px;
    font: normal 3em 'Passion One' sans-serif;
    color: white;
    text-align: center;
}
.link_milton{
    color: white;
    text-decoration: none;
    }
:hover.link_milton{
    text-decoration: underline;
}
.cordel{
    font-size: 5.5em;
    margin-bottom: -5px;
}
:hover.cordel{
    text-decoration: underline;
}


.txt1{
    width: 300px;
    padding: 10px;
    }