@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

body{
    background-image: linear-gradient(90deg, #FFB2E6 10%, #D972FF 50%, #8447FF 90%);
    
    
}
.quadrado{
    width: 500px;
    height: 500px;
    background-color: #dddbda;
    border-radius: 15px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;    
    border: ridge, 13px #fff5ef;
    color: #202017;
    text-decoration: wavy;
    font-size: 30px;
}

.quadrado2{
    width: 500px;
    height: 500px;
    background-color: rgb(212, 229, 245);
    border-radius: 10px;
    margin: auto;
    font-family: 'roboto Mono';
    font-weight: 700;
    padding: 10px;
    border: double, 13px #141313,
}