@charset "UTF-8";
        body {
            background-color: aquamarine; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 30px;
        }
        h1 {
            font-family: 'Times New Roman', Times, serif; font-size: 10px;
        }
        