@charset "UTF-8";
body{
    background-color: black;
    font-family: 'ibm Plex Mono';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a{
    margin: 20px;
}
.link_twt{
    display: inline-block;
    font-size: 2em;
    padding: 8px;
    border: 6px dotted white;
    transition-duration: 80ms;
    color: white;
    text-decoration: none;
    
}

.link_twt:hover{
    border: 6px solid rgb(161, 249, 255);
    padding: 12px;
    font-size: 2.1em;
    font-weight: 500;
}
p{
    color: white;
    font-size: 2em;
}
.youtube_link{
    font-size: 2em;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    padding: 14px;
    font-weight: 700;
}
.tube_span{
    color: rgb(255, 255, 255); background-color: red; padding: 5px; border-radius: 15px;
}
.you_span{
    color: rgb(0, 0, 0);
}
.you_span:hover{
    color: rgb(255, 255, 255);
}
.tube_span:hover{
    color: black;
    background-color: white;
}
.youtube_link:hover{
    background-color: rgb(255, 0, 0);
}
a, span{
    transition-duration: 350ms;
}
.github_link{
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}
.github_img{
    height: 200px;
    position: absolute;
    top: -80px;
    left: 425px;
    opacity: 0%;
    transition-duration: 200ms; 
}
.github_img:hover{
    opacity: 20%;
}
.github_link:hover{
    font-weight: 700;
}